* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.main-grid .grid-item {
  padding: 20px;
  background-color: #e9c46a;
}
.main-grid .hero {
  background-color: #f4a261;
  color: #ffffff;
  text-align: center;
  margin: 20px 20px;
}
.main-grid .hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #264653;
}
.main-grid .hero p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.main-grid .latest-posts {
  background-color: transparent;
  margin-top: 0;
  padding-top: 0;
}
.main-grid .latest-posts h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #264653;
}
.main-grid .latest-posts .posts-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.main-grid .latest-posts .posts-grid .card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.main-grid .latest-posts .posts-grid .card img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.main-grid .latest-posts .posts-grid .card h4 {
  max-width: 100%;
  font-size: 1rem;
  margin: 10px 0;
}
.main-grid .latest-posts .posts-grid .card p {
  max-width: 100%;
  font-size: 0.875rem;
  color: #333333;
}
.main-grid .latest-posts .posts-grid .card a {
  text-decoration: none;
  color: #2a9d8f;
  font-weight: bold;
}
.main-grid .latest-posts .posts-grid .card a:hover {
  color: #1f776d;
}

.navbar {
  background-color: #264653;
  padding: 0 0;
}
.navbar .navbar-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-container h1 {
  color: #ffffff;
  font-size: 2.5rem;
}
.navbar .navbar-container .navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar .navbar-container .navbar-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}
.navbar .navbar-container .navbar-menu li a:hover {
  color: #2a9d8f;
}

.footer {
  background-color: #264653;
  color: #ffffff;
  padding: 20px 0;
}
.footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer-container p {
  font-size: 0.875rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #264653;
  transition: border-color 0.3s ease;
  width: 400px;
  height: 350px;
  overflow: hidden;
}
.card h3 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f4a261;
}
.card p {
  font-size: 0.875rem;
  color: #333333;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card a {
  margin-top: auto;
  color: #2a9d8f;
  text-decoration: none;
  font-weight: bold;
}
.card a:hover {
  color: #f4a261;
}
.card:hover {
  border-color: #f4a261;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #264653;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #060b0d;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.footer {
  background-color: #264653;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */