.navbar {
  background-color: $dark-gray;
  padding: 0 0;
  .navbar-container {
    padding: 20px;
    margin: 0 auto;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $light-text;
      font-size: $font-size-large;
    }

    .navbar-menu {
      list-style: none;
      display: flex;
      gap: 20px;

      li {
        a {
          text-decoration: none;
          color: $light-text;
          font-size: $font-size-base;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}
